body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #E0F7FA;
}

.main-content {
    height: 8.125rem;
    width: 100%;
    background-color: #003366;
    display: flex;
    justify-content: space-between;
    
}

.textos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    align-items: center;
    list-style: none;
    margin-right: 10rem;
}

.textos li {
    font-size: 1.25rem;
}

a {
    color: #ffff;
    text-decoration: none;
}


.textos li:hover {
    transform: scale(1.1);
}

.form-cadastro {
    margin-top: 2rem;
    padding: 1rem 2rem;
    width: 80%;
    height: auto;
    background: #B3E5FC ;
    box-shadow: 0px 4px 4px;
    border-radius: 30px;
}

.section-margin {
    margin: 0 2rem 0 2rem;
    gap: 1rem;
}
section {
    display: grid;
}

.centraliza {
    display: grid;
    place-items: center;
}

#pagamento-centralizado {
    margin-top: 5rem;
}

.metodo-pagamento {
    display: grid;
    width: 20rem;
    background-color: #B3E5FC  ;
    border-radius: 30px;
    justify-content: center;
    height: 15rem;
    padding-bottom: 1rem;
    box-shadow: 0px 4px 4px ;
}

.separa-itens {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}

.valor {
    width: auto;
}

h2 {
    margin-left: 3rem;
}

fieldset {
    border: none;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    background-color: #ffff ;
    border-color: #ffff ;
}

button {
    width: 12.5rem;
    background-color: #2E8B57;
    border-radius: 0.9375rem;
    font-size: 0.9375rem;
    color: #ffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 20px;
}

button:hover {
    background-color: #28a745 ;
}