body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-content {
    height: 8.125rem;
    width: 100%;
    background-color: #003366;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.espaco-inicial {
    display: grid;
    gap: 8.125rem;
}

.textos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 31.25rem;
    align-items: center;
    list-style: none;
}

.textos li {
    font-size: 1.25rem;
}

a {
    color: #ffff;
    text-decoration: none;
}

button {
    width: 12.5rem;
    background-color: #2E8B57;
    padding: 1.25rem;
    border-radius: 0.9375rem;
    font-size: 0.9375rem;
    color: #ffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: blue;
}

.textos li:hover {
    transform: scale(1.1);
}

#amigo-da-natureza img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

#sobre-nos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.texto-esquerda {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 3.75rem;
}

.texto-esquerda p {
    display: flex;
    flex-flow: row nowrap;
    width: 45rem;
    font-size: 1.875rem;
}

.texto-esquerda button {
    margin-top: 10rem;
    width: 18.75rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ilustracao {
    width: 50%;
}

.rodape {
    height: 8.125rem;
    width: 100%;
    background-color: #003366;
    display: flex;
    color: #ffff;
    justify-content: space-between;
    align-items: center;
}

.rodape a {
    padding-left: 10%;
}

.email {
    padding-right: 10%;
}
